@font-face {
    font-family: 'DancingScript';
    src: url('fonts/DancingScript/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.mtitle {
    font-family: "DancingScript";
    color:deeppink;
}

.caketitle {
    font-family: "DancingScript";
    color: black;
   
}

.minipic {
    height: 100px;
    width: 100px;
    
}

.flex-container div {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipebox {
    margin: 0 20px 20px 0;
    border: 2px black solid;
    width: 120px;
    padding: 5px 5px 5px 5px;
    flex: 1;
}
